<template>
<li class="nav-item dropdown"><span class="badge badge-danger" id="count-notification">{{tags.length}}</span>
                           <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications<span class="badge badge-danger" id="count-notification">{{tags.length}}</span></div>
                                    </li>
                                    <li>

                                        <div class="message-center"  v-for="tag in tags">
                                             
                                            <a href="#" v-for="tag_data in tag.data['tag']">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet" >

                                                   {{tag_data['name']}}  </div>
                                                   
                                            </a>
                                               <a href="#" v-if="tags.length==0">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                 No Notification </div>
                                            </a>
                                         
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
</template>

<script>
    export default {
    props:['tags'],
     
    };
</script>
