legend {
    display: block;
    width:auto;
    max-width: 20%;
    padding: 0;
    margin-bottom: .1rem;
    font-size: 0.80rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
fieldset {
    min-width: 0;
    padding: 0 0 3px 5px;
    margin: 0;
    border: 0.5px;
    border-color: #e5ebf1;
    border-style: dotted;
}
.form-control {
    color: #67757c;
    min-height:38px;
    display: initial;
}
.custom-select {
    background: url(../assets/images/custom-select.png) right 0.75rem center no-repeat;
}
  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #696d17;
    vertical-align: middle;
  border-color: #1e88e5;
  outline-color:#1e88e5;
   outline-offset: -2px;
     border-image: none;
     background-color: white;
     /*
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;background-size: 8px 10px;border: 1px solid #ced4da;border-radius: .25rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
  }
  .sentiment-color{
    color:#1e88e5;
  }

  .emotion-color{
    color:#55acee;
  }
  .customize-select
  {
    max-width:13%;height: 20px !important;
  }
   .in-comment-select
  {
    max-width:14%;
  }

  .select2-container--default .select2-selection--multiple {
    background-color: #f3f6f9;
   /* border: 1px solid #3c8dbc;
    border-radius: 4px;*/
    cursor: text;
        border: 0 none;
      /*  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfe4e6), to(#e5eaec)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));*/
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    /*height: 20px;*/
    user-select: none;
    -webkit-user-select: none;
    
}
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6a6868;
    border-color: #6a6868;
    padding: 1px 10px;
    color: #fff;
   font-size:14px;
}
  .comment-select
  {
    max-width:26%;height: 20px !important;
  }
  .datepicker
  {
    color:#5e5b5b !important;width: 17em; padding: .2em .2em 0 ;
  }
  .s-topbar
  {
    position: relative;
    z-index: 20;
    /*-webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);*/
  }
  .s-topbar-fix
  {
   position: fixed;  
  width: inherit;
  }
  .s-topbar-u-div
  {
    margin: 70px -15px 0 -15px;
  }
  /*.page-titles .justify-content-end:last-child .d-flex {
    margin-right: 15rem;
}*/